<template name="mainNavigationTopItemPersonal">
    {{#unless isSmartPhoneAndOwnsNoCards}}
        {{#if canCreateContent}}
            <li id="navbar-personal"
                class="dropdown {{#if isPersonalRoute}}active{{/if}}">
                <a href="#" class="dropdown-toggle dropdownMenuContainer"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{{getNavigationName "personal"}}}
                </a>
                <div id="personal-drop" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <ul>
                        {{> mainNavigationTopItemPersonalItemCardsets}}
                        {{> mainNavigationTopItemPersonalItemRepetitorien}}
                    </ul>
                </div>
            </li>
        {{/if}}
    {{/unless}}
</template>
