<template name="mainNavigationTopItemHelp">
    <li id="navbar-help"
        class="{{#if isImpressum}}active{{/if}}">
        <a href="/help" id="helpBtn"><i class="fa fa-medkit"></i><span
                class="hidden-sm">&nbsp;{{_ "contact.help"}}</span></a>
    </li>
</template>
