<template name="cardsetAccess">
    {{#if hasPermission}}
        {{#if learningActive}}
            {{> cardset}}
        {{else}}
            {{> cardset}}
        {{/if}}
    {{else}}
        {{> accessDenied}}
    {{/if}}
</template>

<template name="cardset">
    {{> cardsetInfo}}
    {{> showLicense}}
    {{> cardsetForm}}
    {{> cardsetImportForm}}
    {{> cardsetPublishForm}}
    {{> bonusForm}}
    {{> cardsetEndLearnForm}}
    {{> selectLicenseForm}}
    {{> reportCardsetForm}}
    {{> deleteCardsForm}}
    {{> resetLeitnerForm}}
    {{> resetMemoForm}}
    {{> leaveLearnPhaseForm}}
    {{> leaveCardsetForm}}
    {{> leaveEditorsForm}}
    {{> chooseFlashcards}}
    {{> joinBonusForm}}
    {{> leaveBonusForm}}
    {{> profileIncompleteModal}}
    {{#if hasCardsetPermission}}
        {{selectedForLearning}}
        {{#if isActiveRoute regex='cardsetdetailsid|cardsetcard'}}
            {{#if isCardsetOwner this._id}}
                {{#if this.quantity}}
                    <div class="hidden-xs col-xs-12">
                        {{> cardNavigation}}
                    </div>
                    <div class="hidden-xs col-xs-12">
                        {{> flashcards cardset=this}}
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if isActiveRoute 'cardsetlistid'}}
            <div class="col-xs-12">
                <button class="btn btn-raised btn-danger" id="{{#if
                        fullscreenActive}}backToCardsetDetailViewFullscreen{{else}}backToCardsetDetailView{{/if}}">
                    <span class="pull-left"><i class="fa fa-arrow-left"></i> {{_ "cardset.list.back"}}</span>
                </button>
                {{> cardsetList}}
            </div>
        {{/if}}
    {{/if}}
</template>
